LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
GOOGLE_API_KEY=
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=
GOOGLE_APPLICATION_CREDENTIALS=
WEAVIATE_HOST=
WEAVIATE_PORT=
WEAVIATE_GRPC_HOST=
WEAVIATE_GRPC_PORT=
USE_GOOGLE_AUTH=